[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2.3"  # web framework

[dev-packages]
# linter, formater, types checker
flake8="~=7.3.0"    # code quality
black="~=25.1.0"    # formatter
isort="~=6.0.1"     # sorting imports
mypy="~=1.16.1"     # types checking
ipdb="~=0.13.13"    # debbuger

[requires]
python_version = "3.13"
